body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

.display {
  background: #000;
  color: #0f0;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-x: auto;
  height: 50px;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.85;
}

.op {
  background: #ff9500;
  color: #fff;
}

.igual {
  background: #34c759;
  color: #fff;
  grid-row: span 2;
}

.zero {
  grid-column: span 2;
}

.btn-op {
  background: #ff9500;
  color: #fff;
}

.btn-op:hover{
    cursor: pointer;
    opacity: 0.85;
}