@charset "UTF-8";

body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
   color: white;
   text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}

footer{
    text-align: center;
    color: white;
    font-style: italic
}

select{
    width: 200px;
    height: 150px;
}

img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  
}

div{
    text-align: center;
    padding: 8px;
}

#res{
    text-align: left;
}